<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./css/site.css">
    <meta charset="UTF-8">
    <title>Gear Manufacturers</title>
</head>
<body>
    <input type="button" value="Home" onclick="location.href='/'">
    <table id="manufacturers_table">
        <tr>
            <th>Manufacturer Name</th>
        </tr>
        <tr th:each="manufacturer : ${manufacturersList}">
            <td th:text="${manufacturer.name}"></td>
        </tr>
    </table>
</body>
</html>