<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <link rel="stylesheet" href="./css/site.css">
    <meta charset="UTF-8">
    <title>SWGoH team tool</title>
</head>
<body>
    <input type="button" value="Home" onclick="location.href='/'">
    <div>
        <p class="blue-border" id="userName_label">User Name </p>
        <p class="yellow-border" id="userName_value" th:text="${userProfile.userName}"></p>
        <p class="blue-border" id="userId_label">User #: </p>
        <p class="yellow-border" id="userId_value" th:text="${userProfile.userId}"></p>
        <p class="blue-border" id="currentArenaRank_label">Current Arena Rank: </p>
        <p class="yellow-border" id="currentArenaRank_value" th:text="${userProfile.squadArena_currentRank}"></p>
        <p class="blue-border" id="userLevel_label">User Level: </p>
        <p class="yellow-border" id="userLevel_value" th:text="${userProfile.level}"></p>
        <p class="blue-border" id="guildJoinDate_label">Guild Joined Date: </p>
        <p class="yellow-border" id="guildJoinDate_value" th:text="${userProfile.joinedGuild_date}"></p>
    </div>
    <div>
        <p class="blue-border" id="galacticPower_total_label"></p>
        <p class="yellow-border" id="galacticPower_total_value" th:text="${userProfile.galacticPower_total}"></p>
        <p class="blue-border" id="galacticPower_heroes_label"></p>
        <p class="yellow-border" id="galacticPower_heroes_value" th:text="${userProfile.galacticPower_heroes}"></p>
        <p class="blue-border" id="galacticPower_ships_label"></p>
        <p class="yellow-border" id="galacticPower_ships_value" th:text="${userProfile.galacticPower_ships}"></p>
        <p class="blue-border" id="fleetArena_wins_label"></p>
        <p class="yellow-border" id="fleetArena_wins_value" th:text="${userProfile.fleetArena_wins}"></p>
        <p class="blue-border" id="squadArena_wins_label"></p>
        <p class="yellow-border" id="squadArena_wins_value" th:text="${userProfile.squadArena_wins}"></p>
        <p class="blue-border" id="battle_wins_normal_label"></p>
        <p class="yellow-border" id="battle_wins_normal_value" th:text="${userProfile.battle_wins_normal}"></p>
        <p class="blue-border" id="battle_wins_hard_label"></p>
        <p class="yellow-border" id="battle_wins_hard_value" th:text="${userProfile.battle_wins_hard}"></p>
        <p class="blue-border" id="battle_wins_galacticWar_label"></p>
        <p class="yellow-border" id="battle_wins_galacticWar_value" th:text="${userProfile.battle_wins_galacticWar}"></p>
        <p class="blue-border" id="guild_raid_wins_label"></p>
        <p class="yellow-border" id="guild_raid_wins_value" th:text="${userProfile.guild_raid_wins}"></p>
        <p class="blue-border" id="guild_tokens_earned_label"></p>
        <p class="yellow-border" id="guild_tokens_earned_value" th:text="${userProfile.guild_tokens_earned}"></p>
        <p class="blue-border" id="championship_battle_successful_defends_label"></p>
        <p class="yellow-border" id="championship_battle_successful_defends_value" th:text="${userProfile.championship_battle_successful_defends}"></p>
        <p class="blue-border" id="championship_battle_full_rounds_cleared_label"></p>
        <p class="yellow-border" id="championship_battle_full_rounds_cleared_value" th:text="${userProfile.championship_battle_full_rounds_cleared}"></p>
        <p class="blue-border" id="championship_lifetime_score_label"></p>
        <p class="yellow-border" id="championship_lifetime_score_value" th:text="${userProfile.championship_lifetime_score}"></p>
        <p class="blue-border" id="championship_battle_undersized_squad_wins_label"></p>
        <p class="yellow-border" id="championship_battle_undersized_squad_wins_value" th:text="${userProfile.championship_battle_undersized_squad_wins}"></p>
        <p class="blue-border" id="championship_promotions_earned_label"></p>
        <p class="yellow-border" id="championship_promotions_earned_value" th:text="${userProfile.championship_promotions_earned}"></p>
        <p class="blue-border" id="championship_banners_earned_label"></p>
        <p class="yellow-border" id="championship_banners_earned_value" th:text="${userProfile.championship_banners_earned}"></p>
        <p class="blue-border" id="championship_best_rank_label"></p>
        <p class="yellow-border" id="championship_best_rank_value" th:text="${userProfile.championship_best_rank}"></p>
        <p class="blue-border" id="championship_battle_successful_attacks_label"></p>
        <p class="yellow-border" id="championship_battle_successful_attacks_value" th:text="${userProfile.championship_battle_successful_attacks}"></p>
        <p class="blue-border" id="championship_territories_cleared_label"></p>
        <p class="yellow-border" id="championship_territories_cleared_value" th:text="${userProfile.championship_territories_cleared}"></p>
    </div>
</body>
</html>