<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="./css/site.css">
    <meta charset="UTF-8">
    <title>SWGoH team tool</title>
</head>
<body>
    <div>Welcome to the main page.</div>
    <input type="button" value="Show me my User Profile" onclick="location.href='/userProfile'">
    <input type="button" value="Show me all of my Heroes" onclick="location.href='/myHeroes'">
    <input type="button" value="Show me my current Squad Arena Team" onclick="location.href='/squadArena_team'">
</body>
</html>